html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    margin : 0;
    overflow: hidden;
    background-color: #fcf3ed;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

.upupcircle{
    position: absolute;
    transform: rotate(-5deg);
    top: -20vh;
    left: 45vw;
    width: 40vw;
    height: 75vh;
    background-color: #563a07;
    border-radius: 50%;
}
.upbackground {
    position: absolute;
    transform: skewY(-5deg);
    top: 70px;
    width: 100vw;
    height: 70vh; 
    background-color: #fcecde;
    z-index: 0;
}

.upcircle{
    position: absolute;
    transform: rotate(15deg);
    top: 50px;
    left: -200px;
    width: 55vw;
    height: 90vh;
    background-color: #563a07;
    border-radius: 50%;
}

.downbackground {
    position: absolute;
    transform: skewY(5deg);
    top: 65vh;
    width: 100vw;
    height:70vh;
    background-color: #f2d6c0;
}

.downcircle{
    position: absolute;
    transform: rotate(-5deg);
    top: 55vh;
    left: 65vw;
    width: 55vw;
    height: 90vh;
    background-color: #563a07;
    border-radius: 50%;
}

.card {
    position: absolute;
    background-color: #ffffff;
    top: 10vh;
    left: 65vw;
    width: 30vw;
    min-width:30vw;
    min-height: 70vh;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
.card-content{
    padding:5px;
    margin: 0px 0px 1px 1px;
}

.card-title{
    padding-top: 0px;
}

.card-title h1{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: #444444;
    font-size: 7vw;
    margin: 0;
    letter-spacing: 3pt;
}

.subtitle{
    font-size: 2vw;
    font-weight: 500;
    color: #563a07;
    border-top: 2px solid #efefef;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 2px;
}

.description p{
    color: #666666;
    font-weight: 400;
    margin: 5px 0px 0px 0px;
    font-size: 1.2vw;
}

.button{
    position: relative;
    display: block;
    width:25%;
    text-align: center;
    margin: 20px 5px 10px 0px;
    padding: 5px 2px;
    border: 1px solid #f2d6c0;
    background-color: #f2d6c0;
    color: #666666;
    font-size: 0.6em;
    text-decoration: none;
    border-radius: 5px;

}

.button:hover{
    border-color: #563a07;
    background-color: #563a07;
    color: #ffffff;
}